*{
    box-sizing: border-box;
}
body {
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
#header{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: whitesmoke;
    text-align: center;
    border: 5px solid gray;
}
#header h1,h2{
    color:black;
}
#fila{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    color:black;
}
#fila::after{
    content: "";
    clear: both;
    display: table;
}
#AEQabout{
    border: 5px solid gray;
    float: left;
    /*padding: 15px;*/
    padding-bottom: 5%;
    padding-top: 5%;
    width: 50%;
    text-align: center;
}
#CARabout{
    border: 5px solid  #669999;
    float: left;
    /*padding: 15px;*/
    padding-bottom: 5%;
    padding-top: 5%;
    width: 50%;
    text-align: center;
}
ul li{
    text-align: left;
}